body {
  font-family: "Playfair Display", serif;
  margin: 0;
}

img {
  transition: all ease-in-out 0.45s;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
}

.navbar-toggler {
  border: none;
}

.navbar {
  z-index: 999 !important;
}

.mariia-photo-main:hover img,
.servise-section:hover img {
  transform: scale(1.1);
}

.mariia-photo-main,
.servise-section {
  overflow: hidden;
}

.describe-main1 {
  font-size: 26px;
  text-align: center;
  font-weight: 300;
  color: white;
  position: relative;
  margin-top: -250px;
  text-transform: uppercase;
}

.describe-main2-3 {
  font-size: 26px;
  text-align: center;
  font-weight: 300;
  color: white;
  position: relative;
  margin-top: -222px;
  text-transform: uppercase;
}

.button-main-section-1 {
  position: relative;
  margin-top: 0;
}

.button-main-section-2-3 {
  position: relative;
  margin-top: 43px;
}

#button-main {
  width: 200px;
  padding: 19px 20px 17px;
  font-family: "Circe", Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1.2px;
  transition: all 0.5s ease;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  background: none;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 80px;
}

#button-main:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
  transition: all 0.5s ease;
}

#buton {
  width: 200px;
  padding: 19px 20px 17px;
  border-radius: 0px;
  font-family: "Circe", Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1.2px;
  transition: all 0.5s ease;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  background: none;
  border: 0 none;
  -webkit-appearance: none;
  font-size: 14px;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}

.servise-section {
  padding: 20px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.service-item,
.page-name {
  text-align: center;
  font-weight: 700;
  margin: 20px;
  text-transform: uppercase;
}

.page-name {
  margin-top: 50px;
  margin-bottom: 40px;
}

.about-service {
  margin-top: 40px;
  font-weight: 300;
  line-height: 1.55;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.price {
  font-size: 24px;
}

.photo-about {
  max-width: 340px;
}
.about-mariia {
  margin-top: 60px;
}

.about-mariia h2 {
  margin-bottom: 35px;
  font-weight: 400;
  line-height: 28px;
  font-size: 26px;
}

.about-mariia p {
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}

footer {
  margin-top: 60px;
  padding: 20px;
  background-color: black;
}

footer h1 {
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}

footer p {
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}
footer .social-link a {
  color: white;
}

@media (max-width: 1920px) {
  .container-start {
    max-width: 100%;
  }
}

@media (min-width: 1055px) {
  .button-main-section-1 {
    position: relative;
    margin-top: 40px;
  }

  .button-main-section-2-3 {
    position: relative;
    margin-top: 71px;
  }
  .describe-main2-3 {
    margin-top: -246px;
  }
}

@media (max-width: 767px) {
  #navbarNav {
    position: fixed;
    top: 50px;
    right: 0;
    padding: 20px 40px 364px 40px;
    background-color: rgba(214, 207, 207, 0.9);
  }

  .main-section1 {
    position: relative;
    margin-top: -16px;
    margin-bottom: 114px !important;
  }

  .main-section2 {
    position: relative;
    margin-top: -16px;
    margin-bottom: 92px;
  }

  .describe-main1 {
    margin-bottom: 23px;
  }

  .describe-main1,
  .describe-main2-3 {
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
  }

  .service {
    margin-bottom: 20px;
  }

  .about-mariia h1,
  .about-mariia h2,
  .about-mariia p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about-mariia h1 {
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
    letter-spacing: 2px;
  }

  .about-mariia h2 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
  }

  .about-mariia img {
    display: block;
    margin: 0 auto;
  }
  .about-mariia .col-sm-6 {
    padding: 0;
  }
  .mariia-about {
    margin-left: 0px;
  }
}
