:root {
  --text-color: #979797;
}

body {
  font-family: "Playfair Display", serif;
  margin: 0;
}

p {
  font-size: 14px;
}
h2 {
  font-size: 16px;
}

.col {
  padding: 20px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.describe {
  font-size: 26px;
  text-align: center;
  font-weight: 300;
  color: white;
  position: relative;
  margin-top: -222px;
  text-transform: uppercase;
}

#navbarNav {
  background-color: transparent;
}

.navbar {
  z-index: 999 !important;
}

.about1,
.about2 {
  width: 360px;
  box-shadow: 28px 25px 0px 4px #f7f1ed;
}

.about1 {
  margin-right: 40px;
}
.row2-about {
  margin-top: 90px;
}

.description-about1 {
  font-size: 16px;
  background-color: #f7f1ed;
  padding: 20px;
  line-height: 1.55;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.description-about2 {
  font-size: 16px;
  background-color: #f7f1ed;
  padding: 20px;
  line-height: 1.55;
  font-weight: 300;
  letter-spacing: 0.5px;
}

#about1 {
  position: relative;
  margin-top: 130px;
}

#about-me,
#about-me2 {
  text-align: center;
}

#about-me2 {
  margin-bottom: 40px;
}

#contacts {
  width: 200px;
  padding: 19px 20px 17px;
  border-radius: 0px;
  font-family: "Circe", Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1.2px;
  transition: all 0.5s ease;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  background: none;
  border: 0 none;
  -webkit-appearance: none;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.service-page {
  text-align: center;
  margin: 30px;
}
#buton {
  width: 200px;
  padding: 19px 20px 17px;
  border-radius: 0px;
  font-family: "Circe", Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1.2px;
  transition: all 0.5s ease;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  background: none;
  border: 0 none;
  -webkit-appearance: none;
  font-size: 14px;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}

.service-item {
  text-align: center;
  font-weight: 700;
  margin: 20px;
  text-transform: uppercase;
}

.bt {
  position: relative;
  margin-top: 43px;
}
.bt1 {
  position: relative;
  margin-top: 0;
}

.mass {
  font-size: 26px;
  text-align: center;
  font-weight: 300;
  color: white;
  position: relative;
  margin-top: -250px;
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1055px) {
  .bt {
    position: relative;
    margin-top: 71px;
  }
  .describe {
    margin-top: -246px;
  }
  .bt1 {
    position: relative;
    margin-top: 40px;
  }
}

.about1 {
  animation: myAnim 3s ease 1s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 50%;
  }

  100% {
    transform: scale(1);
    transform-origin: 100% 50%;
  }
}

.about2 {
  animation: myAnim 3s ease 1s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    transform: scale(0.5);
    transform-origin: 0% 50%;
  }

  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
  }
}

@media (max-width: 576px) {
  .describe,
  .mass {
    font-size: 23px;
    text-align: center;
  }
  .mass {
    margin-bottom: 23px;
  }
  .des {
    position: relative;
    margin-top: -16px;
    margin-bottom: 114px;
  }
  .des1 {
    position: relative;
    margin-top: -16px;
    margin-bottom: 92px;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
  }
  .navbar-toggler {
    border: none;
  }
  #navbarNav {
    position: fixed;
    top: 50px;
    right: 0;
    padding: 20px 40px 364px 40px;
    background-color: rgba(214, 207, 207, 0.9);
  }
  .name {
    margin-top: 120px;
  }
  h1 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
  }
  .description-about1,
  .description-about2,
  .description-about3 {
    font-size: 12px;
  }

  .description-about1,
  .description-about2 {
    background-color: transparent;
    padding: 0;
  }

  .description-about-second {
    margin-top: 0;
    width: 100%;
  }
  .about1,
  .about2 {
    width: 190px;
    box-shadow: 28px 25px 0px 4px #f7f1ed;
    margin-right: 10px;
  }

  .about1 {
    margin-right: 23px;
  }

  .row2-about {
    margin-top: 60px;
  }
}
